.redesS{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .logo1{
        width: 20px;
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .redes-texto{
        padding-right: 1rem;
        color: rgb(129, 91, 53);
    }

    .logo{
        width: 35px;
        float: left;
        margin-right: 15px; 
        padding-bottom: 20px;
    }
    .redes-texto{
        padding-right: 1rem;
        color: rgb(129, 91, 53);
    }

    
}